<<<<<<< HEAD
 .red {
       color: red;
}
 .thick {
       font-size: 20px;
}
 .green {
       color: green;
=======
 .red {
       color: red;
}
 .thick {
       font-size: 20px;
}
 .green {
       color: green;
>>>>>>> ab39db1824283cae6ae19c2896e67db59c394e07
}